.Rabi
{
    margin-right:500px;
}
button.tom.btn.btn-primary{
    float:right;
    margin:10px;
}
/* label
{
    margin-left: -379px;
}
input.form-control
{
    padding:0.375rem 9.75rem;
    margin-left:-379px;
}
h2
{
    margin-left:-245px;
} */